 {% load static %}
<!DOCTYPE html>

<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
        <link rel="stylesheet" href="{% static 'anionuevo/styles.css' %}">
</head>
<body>
<div>
     {{msg1}}
</div>
<div>
    <img src="data:https://www.xtrafondos.com/descargar.php?id=1011&resolucion=2560x1600">
</div>
</body>
</html>