<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Mostrar datos personalizados</h1>
<div>

   Id de usuraio: {{dato.id}}
   Nombre: {{dato.nombre}}
    Apellido:{{dato.apellido}}
   Fecha: {{dato.fecha_nac}}
</div>
</body>
</html>