

<!DOCTYPE html>
 {% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="{% static 'anionuevo/styles.css' %}">
    <link rel="stylesheet" href="{% static 'anionuevo/skeleton.css' %}">
    <meta charset="UTF-8">
    <title></title>
</head>
 <style type="text/css">
      .interlineado { line-height: 0.1%;}

</style>


<header>
<img src="{% static 'anionuevo/logo5.jpeg' %}" >
    <H4>PANADERIA</H4>
</header>

<body>
<table summary="Catalogo de panes">
  <caption>Encuentra una gran variedad de panes</caption>
  <thead>
    <tr>
      <th scope="col">Tipo</th>
      <th scope="col">Precio</th>
      <th scope="col">caducidad</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">cuernos</th>
      <td>$5 pz</td>
      <td>26/09/21</td>
      <td>Pan en forma de cuerno, con relleno de fresa</td>
    </tr>
    <tr>
      <th scope="row">Chapata </th>
      <td>$10 pz</td>
      <td>22/10/21</td>
      <td>Es un pan rústico compacto, de origen italiano con una gran aceptación en el mercado español. Actualmente, es el pan especial más consumido. </td>
    </tr>



    <tr>
      <th scope="row">Hogaza</th>
      <td>$8 pz</td>
      <td>17/12/21</td>
      <td>Pieza rústica de gran tamaño, generalmente, redonda. A veces, lleva mezcla de centeno y de trigo. </td>
    </tr>
  </tbody>

</table>
     <div>
        Numero de usuarios Registrados:  {{no_datos}}
     </div>

     <div>
         <ul>
          {% for dato in datos %}
             <li>{{dato.id}}
                 {{dato.nombre}}
                 {{dato.apellido}}
                 {{dato.fecha_nac}}
                 <a href="mostrar_datos/{{dato.id}}">ver datos</a>
             </li>
             {% endfor %}
         </ul>
     </div>

    </body>
</html>